html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.section {
  min-height: 100vh;
}

.centerContentInDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/**NAV & Heading**/


.nav {
  margin-top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
}

.nav a:hover {
  color: grey;
  text-decoration: none;
  border-radius: 10px;
}
.nav li  {
  padding-top: 20px;
  padding-left: 25px;
}

.nav:first-child {
  padding-left: 0;
}

.nav a::before {
  content: " ";
  display: block;
  height: 10px;
  width: 100%;
  color: purple;
}

.Home {
  text-align: center;
  color: white;
  background: -webkit-radial-gradient(bottom,#254558 10% ,#2b2b3a 80%);
  background: radial-gradient(at bottom,#254558 10%,#2b2b3a 80%);

}

.heading {
  font-size: 5em;
}

#main {
  margin-bottom: 0px;
  margin-top: 4.5em;
}

#secondary {
  font-size: .5em;
}


/****About******/

.about p, .about li {
  font-size: 2em;
  width: 75%;
  margin: 1% auto;
  text-align: center;
}

hr {
  margin: 2% auto;
  width: 50%;
  color: black;
  height: 1px;
  background-color: black;
}

ul {
  padding-left: 0;
}


/***Portfolio***/


.portfolio {
  padding: 0 8%;
  background: -webkit-radial-gradient(#254558 10% ,#2b2b3a 80%);
  background: radial-gradient(#254558 10%,#2b2b3a 80%);
  margin: auto;
  color: white;
}

.profilelinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
  padding-top: 10px;
}

.portfolio h1 {
  text-align: center;
}

.col {
  flex: 33%;
  max-width: 30%;
  padding: 0 1%;
  padding-bottom: 5%;
}

img {
  padding-top: 5%;
  max-width: 100%;
  max-width: 100%;
}

.picContainer{
  position: relative;
}

.picOverlay {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
  position: absolute;
  top: 2.78%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(70, 70, 67, .75);
  color: white;
  font-size: 2em;
}

.picOverlay h4{
  width: 90%;
  margin: 5%;
}

.picOverlay button{
  transition-property: background-color, border, transform;
  transition-duration: .5s;
  margin-top: 5%;
  width: 76%;
  padding: 1%;
  border-radius: 5px;
  background: rgb(58, 208, 50);
  border-color: rgb(58, 208, 50);
}

.picOverlay:hover {
  opacity: 1;
}

.picOverlay button:hover{
  background-color:rgb(0, 255, 41);
  border-color: rgb(0, 255, 41);
  transform: scale(1.1);
}

/****Contact*****/


.contact {
  margin: auto;
  text-align: center;
  width: 75%;
  color: black;
  font-size: 2em;
}

.contact h1 {
  font-size: 2em;
  margin-top: 0px;
}

a strong {
  color: rgb(23, 22, 22);
}

a strong:hover {
  color: rgb(59, 55, 213);
}

/* Temporarily removed until form is finished

 form {
  max-width; 80%;
}

input[value] {
  color: #129FCE;
  font-weight: 700;
  font-size: 1.5em;
}

input {
  width: 80%;
  height: 3em;
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
  #box-shadow: 2px 2px 10px 4px #ccc;

}

input[value=Comments] {
  height: 10em;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit]{
  margin-top: 2%
} */


/****Footer*****/


.footer {
  background-color: #254558;
  color: white;
}

.left {
  float: left;
  margin-left: 10%;
  margin-top: 1%;
  text-align: center;
}

.right {
  float: right;
  margin-right: 10%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: rgb(45, 47, 45);
    color: white;
}

.fa-youtube {
    background: white;
    color: red;
}

/* Media Queries */
