* {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;

}

header {
  background: rgb(161, 20, 190);
  color: white;
  padding: 4%;
  text-transform: uppercase;
}

#topline {
  border-top: solid 5px black;
  border-bottom: solid 2px black;
  border-left: none;
  border-right: none;
  height: 5px;
}

#bottomline {
  border: solid 3px black;
  margin: 5% 0;
}

.top-info h2 {
  margin-bottom: 1%;
}

.top-info p {
  margin: auto;
  margin-bottom: 5%;
  width: 80%;
  font-size: 1.5em;
}

h2, legend {
  color: black;
  padding: 2%;
  font-size: 2em;
  font-weight: bold;
}

legend {
text-align: left;
padding-left: 0;
}

label {
  font-size: 1.5em;
}

form {
  width: 100%;
}

fieldset {
  border: 0;
}

label, p, select, textarea{
  color: rgb(84, 81, 78);
}

.top .box {
  display: flex;
  flex-direction: column;
}

#zip{
  margin-right: 50%;
}

.top input[required] {
  text-align: right;
  font-style: italic;
}

.top input, select {
  text-align: left;
  flex: 1;
  background: rgb(218, 215, 219);
  border: none;
  padding: 4%;
  font-size: 1.25em;
  transition-duration: 1s;
}

.top input:focus {
  border: solid 3px rgb(3, 1, 40);
  background: rgb(240, 244, 239)

}

.top .box label {
  padding-top: 3.5%;
  padding-left: 0;
  padding-bottom: 2%;

  text-align: left;
}

/********Bottom Half of Form*******/

.bottom {
  text-align: left;
}

.bottom .box, .bottom p {
  padding: 1.5%;
  padding-left: 0;
  text-align: left;
}

.bottom label {
  padding-left: 0;
}

#text {
  height: 25px;
}

.flex {
  display: flex;
}

input[type="checkbox"], input[type="radio"]{
  width: 15px;
  height: 15px;
  border: 1px grey;
  margin: 5px;
}

input[type="checkbox"]:hover, input[type="radio"]:hover {
  background: grey;
  cursor: pointer;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  background: blue;
}

textarea {
  flex: 1;
  height: 10%;
  text-align: left;
  height: 100px;
  background: rgb(218, 215, 219);
  border: none;
  margin: 3% 0;
  text-align: left;
  padding: 1%;
  font-size: 1.25em;

}

button {
  flex: 1;
  background: rgb(28, 128, 142);
  color: white;
  height: 60px;
  font-size: 1.5em;
  text-align: center;
  transition-duration: 1s;
}

button:hover {
  background: rgb(228, 65, 202);
}

#tag {
  text-align: center;
  font-size: 1.25em;
  font-style: italic;
}


@media(min-width: 768px){
  .wrapper {
    max-width: 1000px;
    margin: auto;
  }

  header {
    padding: 1%;
  }

  .top .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .top label {
    flex: 1;
  }

  .top input, .top select {
    flex-grow: 3;
    margin: 1%;
    padding: 1%;
  }

  .top #zip {
    margin-right: 1%;
  }
}
